<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crt.message.mapper2.MemberMappingMapper">
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity2.MemberMapping">
    <result column="membe_id" jdbcType="VARCHAR" property="membeId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="phone_type" jdbcType="VARCHAR" property="phoneType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.crt.message.domain.entity2.MemberMapping">
    insert into t_member_mapping (membe_id, member_name, client_id, 
      phone_type, create_time, update_time
      )
    values (#{membeId,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, 
      #{phoneType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity2.MemberMapping">
    insert into t_member_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="membeId != null">
        membe_id,
      </if>
      <if test="memberName != null">
        member_name,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="phoneType != null">
        phone_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="membeId != null">
        #{membeId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="phoneType != null">
        #{phoneType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity2.MemberMapping">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="membe_id" jdbcType="VARCHAR" property="membeId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="phone_type" jdbcType="VARCHAR" property="phoneType" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.crt.message.domain.entity2.MemberMapping">
    insert into t_member_mapping (id, code, membe_id, 
      member_name, client_id, phone_type, 
      del_flag, create_by, update_by, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{membeId,jdbcType=VARCHAR}, 
      #{memberName,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, #{phoneType,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity2.MemberMapping">
    insert into t_member_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="membeId != null">
        membe_id,
      </if>
      <if test="memberName != null">
        member_name,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="phoneType != null">
        phone_type,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="membeId != null">
        #{membeId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="phoneType != null">
        #{phoneType,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity2.MemberMapping">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="membe_id" jdbcType="VARCHAR" property="membeId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="phone_type" jdbcType="VARCHAR" property="phoneType" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.crt.message.domain.entity2.MemberMapping">
    insert into t_member_mapping (id, code, membe_id, 
      member_name, client_id, phone_type, 
      del_flag, create_by, update_by, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{membeId,jdbcType=VARCHAR}, 
      #{memberName,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, #{phoneType,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity2.MemberMapping">
    insert into t_member_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="membeId != null">
        membe_id,
      </if>
      <if test="memberName != null">
        member_name,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="phoneType != null">
        phone_type,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="membeId != null">
        #{membeId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="phoneType != null">
        #{phoneType,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity2.MemberMapping">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="membe_id" jdbcType="VARCHAR" property="membeId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="phone_type" jdbcType="VARCHAR" property="phoneType" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.crt.message.domain.entity2.MemberMapping">
    insert into t_member_mapping (id, code, membe_id, 
      member_name, client_id, phone_type, 
      del_flag, create_by, update_by, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{membeId,jdbcType=VARCHAR}, 
      #{memberName,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, #{phoneType,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity2.MemberMapping">
    insert into t_member_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="membeId != null">
        membe_id,
      </if>
      <if test="memberName != null">
        member_name,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="phoneType != null">
        phone_type,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="membeId != null">
        #{membeId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="phoneType != null">
        #{phoneType,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity2.MemberMapping">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="membe_id" jdbcType="VARCHAR" property="membeId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="phone_type" jdbcType="VARCHAR" property="phoneType" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.crt.message.domain.entity2.MemberMapping">
    insert into t_member_mapping (id, code, membe_id, 
      member_name, client_id, phone_type, 
      del_flag, create_by, update_by, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{membeId,jdbcType=VARCHAR}, 
      #{memberName,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, #{phoneType,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity2.MemberMapping">
    insert into t_member_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="membeId != null">
        membe_id,
      </if>
      <if test="memberName != null">
        member_name,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="phoneType != null">
        phone_type,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="membeId != null">
        #{membeId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="phoneType != null">
        #{phoneType,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>