<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crt.message.mapper2.PfModelUrlMapper">
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity2.PfModelUrl">
    <result column="pf_model_code" jdbcType="VARCHAR" property="pfModelCode" />
    <result column="applicable_scope" jdbcType="VARCHAR" property="applicableScope" />
    <result column="href_url" jdbcType="VARCHAR" property="hrefUrl" />
    <result column="ico_url" jdbcType="VARCHAR" property="icoUrl" />
  </resultMap>
  <insert id="insert" parameterType="com.crt.message.domain.entity2.PfModelUrl">
    insert into t_pf_model_url (pf_model_code, applicable_scope, href_url, 
      ico_url)
    values (#{pfModelCode,jdbcType=VARCHAR}, #{applicableScope,jdbcType=VARCHAR}, #{hrefUrl,jdbcType=VARCHAR}, 
      #{icoUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity2.PfModelUrl">
    insert into t_pf_model_url
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pfModelCode != null">
        pf_model_code,
      </if>
      <if test="applicableScope != null">
        applicable_scope,
      </if>
      <if test="hrefUrl != null">
        href_url,
      </if>
      <if test="icoUrl != null">
        ico_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pfModelCode != null">
        #{pfModelCode,jdbcType=VARCHAR},
      </if>
      <if test="applicableScope != null">
        #{applicableScope,jdbcType=VARCHAR},
      </if>
      <if test="hrefUrl != null">
        #{hrefUrl,jdbcType=VARCHAR},
      </if>
      <if test="icoUrl != null">
        #{icoUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity2.PfModelUrl">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="pf_model_code" jdbcType="VARCHAR" property="pfModelCode" />
    <result column="applicable_scope" jdbcType="VARCHAR" property="applicableScope" />
    <result column="href_url" jdbcType="VARCHAR" property="hrefUrl" />
    <result column="ico_url" jdbcType="VARCHAR" property="icoUrl" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <insert id="insert" parameterType="com.crt.message.domain.entity2.PfModelUrl">
    insert into t_pf_model_url (id, code, pf_model_code, 
      applicable_scope, href_url, ico_url, 
      del_flag, create_by, update_by, 
      create_date, update_date)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{pfModelCode,jdbcType=VARCHAR}, 
      #{applicableScope,jdbcType=VARCHAR}, #{hrefUrl,jdbcType=VARCHAR}, #{icoUrl,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity2.PfModelUrl">
    insert into t_pf_model_url
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="pfModelCode != null">
        pf_model_code,
      </if>
      <if test="applicableScope != null">
        applicable_scope,
      </if>
      <if test="hrefUrl != null">
        href_url,
      </if>
      <if test="icoUrl != null">
        ico_url,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="pfModelCode != null">
        #{pfModelCode,jdbcType=VARCHAR},
      </if>
      <if test="applicableScope != null">
        #{applicableScope,jdbcType=VARCHAR},
      </if>
      <if test="hrefUrl != null">
        #{hrefUrl,jdbcType=VARCHAR},
      </if>
      <if test="icoUrl != null">
        #{icoUrl,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity2.PfModelUrl">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="pf_model_code" jdbcType="VARCHAR" property="pfModelCode" />
    <result column="applicable_scope" jdbcType="VARCHAR" property="applicableScope" />
    <result column="href_url" jdbcType="VARCHAR" property="hrefUrl" />
    <result column="ico_url" jdbcType="VARCHAR" property="icoUrl" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <insert id="insert" parameterType="com.crt.message.domain.entity2.PfModelUrl">
    insert into t_pf_model_url (id, code, pf_model_code, 
      applicable_scope, href_url, ico_url, 
      del_flag, create_by, update_by, 
      create_date, update_date)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{pfModelCode,jdbcType=VARCHAR}, 
      #{applicableScope,jdbcType=VARCHAR}, #{hrefUrl,jdbcType=VARCHAR}, #{icoUrl,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity2.PfModelUrl">
    insert into t_pf_model_url
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="pfModelCode != null">
        pf_model_code,
      </if>
      <if test="applicableScope != null">
        applicable_scope,
      </if>
      <if test="hrefUrl != null">
        href_url,
      </if>
      <if test="icoUrl != null">
        ico_url,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="pfModelCode != null">
        #{pfModelCode,jdbcType=VARCHAR},
      </if>
      <if test="applicableScope != null">
        #{applicableScope,jdbcType=VARCHAR},
      </if>
      <if test="hrefUrl != null">
        #{hrefUrl,jdbcType=VARCHAR},
      </if>
      <if test="icoUrl != null">
        #{icoUrl,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity2.PfModelUrl">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="pf_model_code" jdbcType="VARCHAR" property="pfModelCode" />
    <result column="applicable_scope" jdbcType="VARCHAR" property="applicableScope" />
    <result column="href_url" jdbcType="VARCHAR" property="hrefUrl" />
    <result column="ico_url" jdbcType="VARCHAR" property="icoUrl" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <insert id="insert" parameterType="com.crt.message.domain.entity2.PfModelUrl">
    insert into t_pf_model_url (id, code, pf_model_code, 
      applicable_scope, href_url, ico_url, 
      del_flag, create_by, update_by, 
      create_date, update_date)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{pfModelCode,jdbcType=VARCHAR}, 
      #{applicableScope,jdbcType=VARCHAR}, #{hrefUrl,jdbcType=VARCHAR}, #{icoUrl,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity2.PfModelUrl">
    insert into t_pf_model_url
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="pfModelCode != null">
        pf_model_code,
      </if>
      <if test="applicableScope != null">
        applicable_scope,
      </if>
      <if test="hrefUrl != null">
        href_url,
      </if>
      <if test="icoUrl != null">
        ico_url,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="pfModelCode != null">
        #{pfModelCode,jdbcType=VARCHAR},
      </if>
      <if test="applicableScope != null">
        #{applicableScope,jdbcType=VARCHAR},
      </if>
      <if test="hrefUrl != null">
        #{hrefUrl,jdbcType=VARCHAR},
      </if>
      <if test="icoUrl != null">
        #{icoUrl,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity2.PfModelUrl">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="pf_model_code" jdbcType="VARCHAR" property="pfModelCode" />
    <result column="applicable_scope" jdbcType="VARCHAR" property="applicableScope" />
    <result column="href_url" jdbcType="VARCHAR" property="hrefUrl" />
    <result column="ico_url" jdbcType="VARCHAR" property="icoUrl" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <insert id="insert" parameterType="com.crt.message.domain.entity2.PfModelUrl">
    insert into t_pf_model_url (id, code, pf_model_code, 
      applicable_scope, href_url, ico_url, 
      del_flag, create_by, update_by, 
      create_date, update_date)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{pfModelCode,jdbcType=VARCHAR}, 
      #{applicableScope,jdbcType=VARCHAR}, #{hrefUrl,jdbcType=VARCHAR}, #{icoUrl,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity2.PfModelUrl">
    insert into t_pf_model_url
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="pfModelCode != null">
        pf_model_code,
      </if>
      <if test="applicableScope != null">
        applicable_scope,
      </if>
      <if test="hrefUrl != null">
        href_url,
      </if>
      <if test="icoUrl != null">
        ico_url,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="pfModelCode != null">
        #{pfModelCode,jdbcType=VARCHAR},
      </if>
      <if test="applicableScope != null">
        #{applicableScope,jdbcType=VARCHAR},
      </if>
      <if test="hrefUrl != null">
        #{hrefUrl,jdbcType=VARCHAR},
      </if>
      <if test="icoUrl != null">
        #{icoUrl,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>