<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crt.message.mapper2.PfModelMapper">
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity2.PfModel">
    <result column="template_name" jdbcType="VARCHAR" property="templateName" />
    <result column="context" jdbcType="VARCHAR" property="context" />
    <result column="templat_type" jdbcType="VARCHAR" property="templatType" />
    <result column="send_method" jdbcType="VARCHAR" property="sendMethod" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="check_by" jdbcType="VARCHAR" property="checkBy" />
  </resultMap>
  <insert id="insert" parameterType="com.crt.message.domain.entity2.PfModel">
    insert into t_pf_model (template_name, context, templat_type, 
      send_method, status, remark, 
      sort, check_by)
    values (#{templateName,jdbcType=VARCHAR}, #{context,jdbcType=VARCHAR}, #{templatType,jdbcType=VARCHAR}, 
      #{sendMethod,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{checkBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity2.PfModel">
    insert into t_pf_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="templateName != null">
        template_name,
      </if>
      <if test="context != null">
        context,
      </if>
      <if test="templatType != null">
        templat_type,
      </if>
      <if test="sendMethod != null">
        send_method,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="checkBy != null">
        check_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="templateName != null">
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="context != null">
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="templatType != null">
        #{templatType,jdbcType=VARCHAR},
      </if>
      <if test="sendMethod != null">
        #{sendMethod,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="checkBy != null">
        #{checkBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity2.PfModel">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="template_name" jdbcType="VARCHAR" property="templateName" />
    <result column="context" jdbcType="VARCHAR" property="context" />
    <result column="templat_type" jdbcType="VARCHAR" property="templatType" />
    <result column="send_method" jdbcType="VARCHAR" property="sendMethod" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="check_by" jdbcType="VARCHAR" property="checkBy" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <insert id="insert" parameterType="com.crt.message.domain.entity2.PfModel">
    insert into t_pf_model (id, code, template_name, 
      context, templat_type, send_method, 
      status, remark, sort, 
      check_by, del_flag, create_by, 
      update_by, create_date, update_date
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{templateName,jdbcType=VARCHAR}, 
      #{context,jdbcType=VARCHAR}, #{templatType,jdbcType=VARCHAR}, #{sendMethod,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{checkBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity2.PfModel">
    insert into t_pf_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="templateName != null">
        template_name,
      </if>
      <if test="context != null">
        context,
      </if>
      <if test="templatType != null">
        templat_type,
      </if>
      <if test="sendMethod != null">
        send_method,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="checkBy != null">
        check_by,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null">
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="context != null">
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="templatType != null">
        #{templatType,jdbcType=VARCHAR},
      </if>
      <if test="sendMethod != null">
        #{sendMethod,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="checkBy != null">
        #{checkBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity2.PfModel">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="template_name" jdbcType="VARCHAR" property="templateName" />
    <result column="context" jdbcType="VARCHAR" property="context" />
    <result column="templat_type" jdbcType="VARCHAR" property="templatType" />
    <result column="send_method" jdbcType="VARCHAR" property="sendMethod" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="check_by" jdbcType="VARCHAR" property="checkBy" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <insert id="insert" parameterType="com.crt.message.domain.entity2.PfModel">
    insert into t_pf_model (id, code, template_name, 
      context, templat_type, send_method, 
      status, remark, sort, 
      check_by, del_flag, create_by, 
      update_by, create_date, update_date
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{templateName,jdbcType=VARCHAR}, 
      #{context,jdbcType=VARCHAR}, #{templatType,jdbcType=VARCHAR}, #{sendMethod,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{checkBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity2.PfModel">
    insert into t_pf_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="templateName != null">
        template_name,
      </if>
      <if test="context != null">
        context,
      </if>
      <if test="templatType != null">
        templat_type,
      </if>
      <if test="sendMethod != null">
        send_method,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="checkBy != null">
        check_by,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null">
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="context != null">
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="templatType != null">
        #{templatType,jdbcType=VARCHAR},
      </if>
      <if test="sendMethod != null">
        #{sendMethod,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="checkBy != null">
        #{checkBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity2.PfModel">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="template_name" jdbcType="VARCHAR" property="templateName" />
    <result column="context" jdbcType="VARCHAR" property="context" />
    <result column="templat_type" jdbcType="VARCHAR" property="templatType" />
    <result column="send_method" jdbcType="VARCHAR" property="sendMethod" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="check_by" jdbcType="VARCHAR" property="checkBy" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <insert id="insert" parameterType="com.crt.message.domain.entity2.PfModel">
    insert into t_pf_model (id, code, template_name, 
      context, templat_type, send_method, 
      status, remark, sort, 
      check_by, del_flag, create_by, 
      update_by, create_date, update_date
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{templateName,jdbcType=VARCHAR}, 
      #{context,jdbcType=VARCHAR}, #{templatType,jdbcType=VARCHAR}, #{sendMethod,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{checkBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity2.PfModel">
    insert into t_pf_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="templateName != null">
        template_name,
      </if>
      <if test="context != null">
        context,
      </if>
      <if test="templatType != null">
        templat_type,
      </if>
      <if test="sendMethod != null">
        send_method,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="checkBy != null">
        check_by,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null">
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="context != null">
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="templatType != null">
        #{templatType,jdbcType=VARCHAR},
      </if>
      <if test="sendMethod != null">
        #{sendMethod,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="checkBy != null">
        #{checkBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity2.PfModel">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="template_name" jdbcType="VARCHAR" property="templateName" />
    <result column="context" jdbcType="VARCHAR" property="context" />
    <result column="templat_type" jdbcType="VARCHAR" property="templatType" />
    <result column="send_method" jdbcType="VARCHAR" property="sendMethod" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="check_by" jdbcType="VARCHAR" property="checkBy" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <insert id="insert" parameterType="com.crt.message.domain.entity2.PfModel">
    insert into t_pf_model (id, code, template_name, 
      context, templat_type, send_method, 
      status, remark, sort, 
      check_by, del_flag, create_by, 
      update_by, create_date, update_date
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{templateName,jdbcType=VARCHAR}, 
      #{context,jdbcType=VARCHAR}, #{templatType,jdbcType=VARCHAR}, #{sendMethod,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{checkBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity2.PfModel">
    insert into t_pf_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="templateName != null">
        template_name,
      </if>
      <if test="context != null">
        context,
      </if>
      <if test="templatType != null">
        templat_type,
      </if>
      <if test="sendMethod != null">
        send_method,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="checkBy != null">
        check_by,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null">
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="context != null">
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="templatType != null">
        #{templatType,jdbcType=VARCHAR},
      </if>
      <if test="sendMethod != null">
        #{sendMethod,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="checkBy != null">
        #{checkBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>