<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crt.message.mapper3.RsaKeyMapper" >
  <resultMap id="BaseResultMap" type="com.crt.message.domain.entity3.RsaKey" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="outer_id" property="outerId" jdbcType="VARCHAR" />
    <result column="app_token" property="appToken" jdbcType="VARCHAR" />
    <result column="rsa_key" property="rsaKey" jdbcType="VARCHAR" />
    <result column="experied_date" property="experiedDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, outer_id, app_token, rsa_key, experied_date, status, description, remark, 
    sort, del_flag, create_by, update_by, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.crt.message.domain.entity3.RsaKeyKey" >
    select 
    <include refid="Base_Column_List" />
    from t_rsa_key_copy
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.crt.message.domain.entity3.RsaKeyKey" >
    delete from t_rsa_key_copy
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.crt.message.domain.entity3.RsaKey" >
    insert into t_rsa_key_copy (id, code, outer_id, 
      app_token, rsa_key, experied_date, 
      status, description, remark, 
      sort, del_flag, create_by, 
      update_by, create_date, update_date
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{outerId,jdbcType=VARCHAR}, 
      #{appToken,jdbcType=VARCHAR}, #{rsaKey,jdbcType=VARCHAR}, #{experiedDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crt.message.domain.entity3.RsaKey" >
    insert into t_rsa_key_copy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="outerId != null" >
        outer_id,
      </if>
      <if test="appToken != null" >
        app_token,
      </if>
      <if test="rsaKey != null" >
        rsa_key,
      </if>
      <if test="experiedDate != null" >
        experied_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="outerId != null" >
        #{outerId,jdbcType=VARCHAR},
      </if>
      <if test="appToken != null" >
        #{appToken,jdbcType=VARCHAR},
      </if>
      <if test="rsaKey != null" >
        #{rsaKey,jdbcType=VARCHAR},
      </if>
      <if test="experiedDate != null" >
        #{experiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crt.message.domain.entity3.RsaKey" >
    update t_rsa_key_copy
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="outerId != null" >
        outer_id = #{outerId,jdbcType=VARCHAR},
      </if>
      <if test="appToken != null" >
        app_token = #{appToken,jdbcType=VARCHAR},
      </if>
      <if test="rsaKey != null" >
        rsa_key = #{rsaKey,jdbcType=VARCHAR},
      </if>
      <if test="experiedDate != null" >
        experied_date = #{experiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crt.message.domain.entity3.RsaKey" >
    update t_rsa_key_copy
    set code = #{code,jdbcType=VARCHAR},
      outer_id = #{outerId,jdbcType=VARCHAR},
      app_token = #{appToken,jdbcType=VARCHAR},
      rsa_key = #{rsaKey,jdbcType=VARCHAR},
      experied_date = #{experiedDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=BIT},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>